extends layout

block content
  h3.title.spaced DARK CHAT

  p.spaced
    | Let me know how you are! I must know!

  .row
    .col-md-12
      form.form-horizontal(action='/notifications', method='POST')
        .form-group
          label.col-md-2.control-label Message
          .col-md-10
            textarea.form-control(name='message')
            span.text-primary#validation_message

       
            button.btn.btn-primary
              | Send Me A Text for Free !
